<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="EFirmPortBinding" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://localhost:8094/Cal" binding="basicHttpBinding"
                    bindingConfiguration="EFirmPortBinding" contract="Java.EFirm"
                    name="EFirmPort" />
        </client>
    </system.serviceModel>
</configuration>